repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - django==5.2.6
  - repo: https://github.com/astral-sh/ruff
    rev: v0.14.3
    hooks:
      - id: ruff
        name: ruff (lint)
        additional_dependencies: []
