name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  lint-and-static-analysis:
    name: Lint & Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
          pip install django ruff mypy black==23.9.1 pylint coverage

      - name: Ruff
        run: ruff check .

      - name: Black
        run: black --check .

      - name: Mypy
        run: mypy .

      - name: Pylint
        env:
          DJANGO_SETTINGS_MODULE: booking_mvp.settings
        run: pylint accounts booking_mvp users

      - name: Tests & Coverage
        env:
          DJANGO_SETTINGS_MODULE: booking_mvp.settings
        run: |
          coverage run --source=accounts,booking_mvp,users manage.py test
          coverage xml -o coverage.xml

  sonarqube:
    name: SonarQube
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
